// C O L O R S
$theme-color-1: #4b2425;
$theme-color-2: #633333;
$theme-color-3: #542a2b;
$theme-color-4: #351b1c;

$theme-color-green-1: #50652d;

$theme-color-white: #ffffff;

$white: #ffffff;
$green: #7e9e1f;
$green-grey: #edefe9;
$black: #262626;
$red: #dc3545;

// T R A N S I T I O N S
$transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
$transition-2: .3s cubic-bezier(0.4, 0, 0.2, 1);

// O T H E R S
$navbar-height: 140px; // size from unvisible space ,because theres fixed navbar
$padding-top-content: 94px; // size from unvisible space ,because theres fixed navbar