#content {
    padding-top: $navbar-height;

    .entry-header {
        position: relative;
        padding: 100px 0;
        font-size: 70px;
        text-align: center;
        font-family: "amatic sc";
        color: $theme-color-1;
    }

}
#the-content{
    & > *:nth-child(1){
        margin-top: 0;
    }
    a {
        position: relative;
        color: inherit;
        font-weight: bold;
        outline: none;
        color: $green;
        text-decoration: none;
        &:hover,&:focus {
            text-decoration: underline;
        }
    }
    h1, h2, h3 {
        font-weight: bold;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 20px;
        margin-bottom: 20px;
        color: $green;
    }
    
    blockquote {
        position: relative;
        padding: 20px 40px;
        margin: 60px 0;
        border-radius: 0 20px 20px 0;
        background: mix($white, $black, 95);
        &:after {
            position: absolute;
            content: "";
            height: 100%;
            width: 6px;
            top: 0;
            left: 0;
            border-radius: 10px;
            background: $green;
        }
    }
}