#footer {
    color: $white;
    background: $black;
    .footer-1 {
        padding: 40px 0;
        .container {
            .row {
                .column {
                    padding: 20px;
                    .title {
                        position: relative;
                        font-size: 16px;
                        font-weight: bold;
                        &:after {
                            position: absolute;
                            content: "";
                            height: 100%;
                            width: 3px;
                            left: -10px;
                            top: 0;
                            background: $green;
                        }
                    }
                    .content {
                        margin-top: 20px;
                        table {
                            tr {
                                vertical-align: top;
                                td:nth-child(1){
                                    padding-right: 10px;
                                }
                                &:nth-child(2){
                                    td {
                                        padding-top: 20px;
                                    }
                                }
                            }
                        }
                        &.biggest {
                            display: flex;
                            flex-wrap: wrap;
                            iframe {
                                width: 300px!important;
                                max-width: 100%!important;
                            }
                            @include media-breakpoint-down(md){
                                display: block;
                            }
                            & > div:nth-child(2){
                                display: flex;
                                height: fit-content;
                                flex-grow: 1;
                                flex-wrap: wrap;
                                a.neighborhood {
                                    display: block;
                                    height: 50px;
                                    min-width: 40px;
                                    max-width: 100px;
                                    width: calc(50% - (5px * 4));
                                    margin: 5px;
                                    margin-bottom: 0;
                                    background-position: center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                    .btn {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .footer-4 {
        padding: 10px 0;
        color: $white;
        background: $green;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left {
                letter-spacing: .4px;
                .small {
                    padding: 10px 0;
                    font-size: 16px;
                    display: none;
                    @include media-breakpoint-down(xs){
                        display: block;
                    }
                }
            }
            .right {
                a {
                    padding: 0 6px;
                    font-size: 16px;
                }
                @include media-breakpoint-down(xs){
                    display: none;
                }
            }
        }
    }
}