/* Navigation */
.navbar {
    padding: 0px;
    display: block;
    transition: $transition-2;
    color: $green;
    background: $white;

    .top {
        height: 40px;
        display: flex;
        align-items: center;
        color: $white;
        background: $green;
        .container {
            display: flex;
            justify-content: space-between;
            svg {
                margin-right: 10px;
                vertical-align: middle;
                font-size: 20px;
            }
            .left {
                @include media-breakpoint-down(md){
                    .hide {
                        display: none;
                    }
                }
                a:hover {
                    text-decoration: underline;
                }
            }
            .right {
                display: flex;
                a {
                    display: flex;
                    &:nth-child(2){
                        margin-left: 50px;
                    }
                    .rotate {
                        transform: rotateY(180deg);
                        svg {
                            margin: 0;
                            margin-left: 10px;
                        }
                    }
                    @include media-breakpoint-down(md){
                        .hide {
                            display: none;
                        }
                        &:nth-child(2){
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }

    & > .container.bottom {
        @include media-breakpoint-down(lg){
            // Override `navbar-expand-xx > container`
            padding-left: 15px;
            padding-right: 15px;
        }

        a.a-logo {
            @include normalize-a();
            padding: 10px 0;
            img.custom-logo {
                height: 80px;
                width: auto;
                transition: $transition-2;
            } 
        }
    
        .navbar-toggler {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            color: $green;
            &:hover,&:focus {
                background: mix($green, transparent, 10);
            }
        }

        /* All the Menu list */
        .right-side {
            justify-content: flex-end;
            ul.navbar-nav {
                @include media-breakpoint-down(lg){
                    padding-bottom: 20px;
                }
                li {
                    a {
                        @include normalize-a();
                        width: fit-content;
                        display: block;
                        padding: 6px 15px;
                        transition: $transition-2;
                        font-size: 16px;
                        border-radius: 50px;
                        &:hover,&:focus,&.active {
                            background: mix($green, transparent, 15);
                        }
                    }
                    &.active > a {
                        font-weight: bold;
                    }
                }
            }
            ul.dropdown-menu {
                padding: 0;
                overflow: hidden;
                li {
                    a{
                        @include normalize-a();
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
    
        /* Small mode (active when scroll > 100px :: see in `js/src/script.js`) *
        &.small {
            a.a-logo {
                @include normalize-a();
                img.custom-logo {
                   height: 60px;
                }
            }
        }
        */
    }
} /* END : Navigation*/