#contact.impressie {
    .section-1 {
        color: $green;
        &::before {
            content: none;
        }
    }
    .section-2 {
        padding: 0;
        #the-content {
            padding: 0;
            .gallery-native {
                margin: 0;
                .column-img {
                    padding: 0;
                }
            }
        }
    }
}