#overons {
    
    .section-1{
        min-height: 300px;
        padding: 80px 0;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        text-align: center;
        color: $white;
        overflow-wrap: break-word;
        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: mix($black, transparent, 30);
        }
        .container {
            position: relative;
            z-index: 2;
            .title {
                font-size: 50px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
            .subtitle {
                font-weight: bold;
            }
            .btn {
                margin-top: 20px;
                padding: 5px 50px;
                font-size: 18px;
            }
        }
    }

    .section-2 {
        padding: 80px 0;
        @include media-breakpoint-down(sm){
            padding: 40px 0;
        }
        .widget {
            position: sticky;
            top: $navbar-height;
            @include media-breakpoint-down(lg){
                margin-top: 40px;
            }
        }
        .single-room {
            .price {
                display: flex;
                margin: 20px 0;
                font-size: 16px;
                font-weight: 600;
                color: $green;
                div {
                    width: fit-content;
                    padding: 20px;
                    border-radius: 10px;
                    background: mix($green, transparent, 10);
                    &.text-price {
                        margin-left: 20px;
                        color: $white;
                        background: mix($green, $black, 70);
                    }
                }
            }
            .room-list.row {
                margin: 0;
                margin-top: -10px;
            }
        }
        & > .container > .row {
            & > div:nth-child(1){
                padding-right: 20px;
                @include media-breakpoint-down(md){
                    padding-right: 0;
                }
            }
        }
        .room-list.row {
            margin: 40px 0;
            padding: 20px 0;
            margin-left: -10px;
            margin-right: -10px;
            justify-content: center;
            .room-thumbnail {
                padding: 10px;
                .item {
                    overflow: hidden;
                    border-radius: 10px;
                    .photo {
                        height: 200px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .title {
                        padding: 8px 20px;
                        font-size: 16px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        color: $white;
                        background: $green;
                    }
                }
            }
        }
        .other-room {
            padding-top: 40px;
            .title {
                font-weight: 600;
                font-size: 20px;
                text-align: center;
                color: $green;
            }
            .room-list {
                margin: 0;
            }
        }
        .post-thumbnail {
            margin-top: 80px;
            display: flex;
            &:nth-child(1){
                margin-top: 0;
            }
            .post-content > *:nth-child(1){
                h3 {
                    margin-top: 0;
                }
            }
            .photo {
                position: relative;
                width: 250px;
                height: 250px;
                flex-shrink: 0;
                border-radius: 10px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .post-content {
                padding-left: 20px;
                & > *:nth-child(1){
                    * {
                        margin-bottom: 10px;
                    }
                }
                & > *:nth-child(1), & > *:nth-child(2){
                    margin-top: 0;
                }
                .btn {
                    margin-top: 20px;
                    display: block;
                    width: fit-content;
                    text-decoration: none!important;
                    color: $white!important;
                }
            }
        }
    }
}