@mixin effect-bottom-triangle ($color){
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    border: 20px solid transparent;
    border-top: 20px solid mix($color, #000000, 80);
    border-right: 20px solid mix($color, #000000, 80);
}