<div class="row form-contact" style="margin-top: 15px;">
    <div class="col-12 col-md-6">
        <label> Naam
            [text* naam placeholder"Your name ..."] </label>

        <label> Postcode
            [text* postcode placeholder"Your postcode ..."] </label>

        <label> Adres 
            [text* adres placeholder"Your adres ..."] </label>
    </div>
    <div class="col-12 col-md-6">
        <label> Email
            [email* Theemail placeholder"Your email ..."] </label>

        <label> Woonplaats
            [text* woonplaats placeholder"Plaats ..."] </label>

        <label> Telefoon
            [tel* tel-866 placeholder "Telefoon numer ..."]</label>
    </div>
    <div class="col-12 col-md-12">
        <label> Onderwerp
            [text* naam placeholder"Onderwerp ..."] </label>

        <label> Vragen / opmerkingen
            [textarea* vragen placeholder"Vragen / opmerkingen ..."] </label>

        <div class="g-recaptcha" data-sitekey="6LePyo0UAAAAAPg0CcVkowWKl6PDasIYc7pTIKmy"></div>

        [submit class:btn "Verzenden"]
   </div>
</div>