<div class="row form-contact" style="margin-top:15px;">
    <div class="col-12 col-md-6">
        <label> Naam
            [text* naam placeholder"Your name ..."] </label>

        <label> Adres 
            [text* adres placeholder"Your adres ..."] </label>

        <label> Postcode
            [text* postcode placeholder"Your postcode ..."] </label>

        <label> Woonplaats
            [text* woonplaats placeholder"Plaats..."] </label>

        <label> Telefoon
            [tel* tel-866 placeholder "Telefoon number ..."]</label>
    </div>
    <div class="col-12 col-md-6">
        <label> Email
            [email* Theemail placeholder"Your email ..."] </label>

        <label> Aantal personen
            [select* Aantalpersonen "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "Meer..."]</label>
       
        <label> Aantal kamers
            [select* AantalKamers "1" "2" "3" "4" "5" "6"]</label>

        <label> Datum bezoek 
            [text* datumBezoek placeholder"Datum bezoek ..."] </label>
    </div>
    <div class="col-12 col-md-12" style="margin-top: 10px;">
    <label> Vragen / opmerkingen
        [textarea* vragen placeholder"Vragen / opmerkingen ..."] </label>

    <div class="g-recaptcha" data-sitekey="6LePyo0UAAAAAPg0CcVkowWKl6PDasIYc7pTIKmy"></div>


    [submit class:btn "Send"]

    </div> <!--  .col-12 col-md-12 -->
</div>