@mixin button-style {
    padding-left: 20px;
    padding-right: 20px;
    transition: $transition;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    color: $white;
    background: $green;
    &:hover, &:focus {
        box-shadow: none;
        outline: none;
        color: $white;
        background: mix($green, black, 70);
    }
}
button, .btn {
    @include button-style();
}
.btn-rounded {
    border-radius: 50%;
}

@mixin normalize-a(){
    font-weight: normal;
    text-decoration: none;
    outline: none;
    color: inherit;
    &:hover,&:focus {
        text-decoration: none;
    }
}

.menu-btn {
    display: inline-block;
    margin-top: 30px;
    background: rgba($black, .12);
}