
        #the-content {
            .form-contact {
                .col-12:nth-child(1){
                    padding-right: 10px;
                }
                .col-12:nth-child(2){
                    padding-left: 10px;
                }
                @include media-breakpoint-down(sm){
                    .col-12:nth-child(1){
                        padding-right: 0px;
                    }
                    .col-12:nth-child(2){
                        padding-left: 0px;
                    }
                }
            }
            form{
                //width: 400px;
                max-width: 100%;
                justify-content: center;
                p {
                    padding: 0px;
                }
                label {
                    position: relative;
                    display: block;
                    margin-bottom: -10px;
                    font-weight: 700;
                    color: $black;
                }
                input[type="text"],input[type="number"],input[type="email"],input[type="tel"],input[type="date"],select,textarea{
                    width: 100%;
                    height: 50px;
                    margin: 10px 0;
                    padding: 0 20px;
                    border-radius: 0;
                    border-radius: 10px;
                    background: $green-grey;
                }
                textarea {
                    height: 150px;
                    resize: none;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    border-radius: 10px;
                }
                div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {   
                    color: $white;
                    padding: 20px;
                    background: #b11818;
                    border: 0;
                }
                .btn {
                    padding: 10px 30px;
                }
                div.wpcf7-response-output {
                    margin-bottom: 0;
                }
                .g-recaptcha {
                    margin-top: 20px;
                }
            }
        }