.selectLang {
    position: relative;
    margin-bottom: 40px;
    border-radius: 50px;
    color: $green;
    background: mix($green, transparent, 10);
    select {
        position: relative;
        padding: 10px 50px;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-ms-expand { display: none; }
        color: inherit;
        background: none;
        option {
            padding: 10px 20px;
        }
    }
    .icon {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        pointer-events: none;
        &:nth-last-child(1){
            left: auto;
            right: 20px;
        }
    }
}