
#neighborhood, #privacy {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: $transition;
    pointer-events: none;
    background: transparent;
    .paper {
        position: relative;
        height: 600px;
        max-height: 90%;
        width: 800px;
        max-width: 90%;
        padding: 20px;
        overflow: hidden;
        transition: opacity $transition, transform $transition;
        opacity: 0;
        transform: translateY(200px);
        border-radius: 10px;
        background: $white;
        @include media-breakpoint-down(sm){
            position: absolute;
            width: 100%;
            max-width: 100%;
            max-height: 80%;
            bottom: 0%;
            transform: translateY(100%);
            border-radius: 10px 10px 0 0;
        }
        .header {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid mix($black, transparent, 10);
            background: $white;
            .title {
                margin: 0;
                font-weight: 600;
                color: $green;
            }
            .close-button {
                width: 50px;
                height: 50px;
                text-align: center;
                padding: 0;
                font-size: 28px;
                border-radius: 50%;
                color: $red;
                background: transparent;
                &:hover, &:focus {
                    background: mix($black,transparent, 10);
                }
            }
        }
        .body {
            position: relative;
            height: calc(100% - 100px);
            margin-top: 100px;
            overflow-y: auto;
            .content {
                padding-right: 10px;
            }
        }
    }
    &.show {
        pointer-events: all;
        background: mix($black, transparent, 40);
        .paper {
            opacity: 1;
            transform: translateY(0);
        }
    }
}