.widget .weather {
    position: relative;
    width: 400px;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: mix($green, transparent, 10);
    @include media-breakpoint-down(md){
        margin: auto;
    }
    @include media-breakpoint-down(sm){
        width: 100%;
    }
    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        display: grid;
        text-align: center;
        transform: translate(-50%,-50%);
        transition: $transition;
        transition-delay: 500ms;
        font-weight: bold;
        $offset: 187;
        $duration: 1.4s;

        span {
            
            margin-top: 20px;
        }

        .spinner {
            margin: auto;
            animation: spinner $duration linear infinite;
        }

        @keyframes spinner {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(270deg); }
        }

        .path {
            stroke-dasharray: $offset;
            stroke-dashoffset: 0;
            transform-origin: center;
            stroke: $green;
            animation: offset $duration ease-in-out infinite;
        }

        @keyframes offset {
            0% { stroke-dashoffset: $offset; }
            50% { 
                stroke-dashoffset: $offset/4;
                transform:rotate(135deg);
            }
            100% {
                stroke-dashoffset: $offset;
                transform:rotate(450deg);
            }
        }
    }
    .error {
        position: absolute;
        top: 50%;
        left: 50%;
        display: grid;
        opacity: 0;
        pointer-events: none;
        text-align: center;
        transform: translate(-50%,-50%);
        transition: $transition;
        transition-delay: 500ms;
        font-weight: bold;
        .icon {
            margin-left: auto;
            margin-right: auto;
            font-size: 30px;
            margin-bottom: 10px;
        }
    }
    .top {
        display: flex;
        align-items: flex-end;
        .title {
            font-size: 16px;
            font-weight: bold;
            color: $green;
        }
        .subtitle {
            font-size: 14px;
            color: $green;
            opacity: .7;
        }
        .detail {
            margin-top: 20px;
            display: flex;
            align-items: center;
            color: mix($black, transparent, 70);
            .icon {
                height: 30px;
                margin-right: 10px;
            }
        }
        & > div:nth-child(1){
            flex-grow: 1;
        }
        & > div:nth-child(2){
            width: 100px;
            text-align: right;
            font-size: 40px;
            font-weight: bold;
            color: $green;
            sup {
                font-size: 20px;
            }
        }
    }
    .bottom {
        position: relative;
        width: 100%;
        display: flex;
        & > div {
            width: 33.33%;
            padding: 10px 0;
            text-align: center;
            .date {
                margin-bottom: 10px;
                opacity: .7;
            }
        }
    }
    .animate {
        transition: $transition;
        transition-delay: 500ms;
        opacity: 0;
        &.bottom {
            transition-delay: 700ms;
        }
    }
    &.loaded {
        .loading {
            opacity: 0;
            pointer-events: none;
        }
        .animate {
            opacity: 1;
        }
    }
    &.error {
        .loading {
            opacity: 0;
            pointer-events: none;
        }
        .animate {
            pointer-events: none;
        }
        .error {
            opacity: 1;
            pointer-events: all;
        }
    }
}