#the-content {
    .wpcr3_in_content {
        .wpcr3_show_btn {
            @include button-style();
            padding: 14px 20px;
            font-size: 16px;
        }

        .wpcr3_table_2 {
            .wpcr3_leave_text {
                padding-bottom: 10px;
                font-size: 18px;
                color: $green;
            }
            .wpcr3_review_form_text_field,
            .wpcr3_review_form_rating_field,
            .wpcr3_review_form_review_field_label,
            .wpcr3_review_form_review_field_textarea {
                td {
                    //display: block;
                    label {
                        position: relative;
                        display: block;
                        //margin-top: 10px;
                        //margin-bottom: -10px;
                        font-weight: 700;
                    }
                    input {
                        width: 100%;
                        height: 50px;
                        margin: 10px 0;
                        padding: 0 20px;
                        border-radius: 10px;
                        background: $green-grey;
                    }
                    textarea {
                        width: 100%;
                        height: 200px;
                        padding: 0 20px;
                        resize: none;
                        border-radius: 10px;
                        background: $green-grey;
                    }
                }
            }

            .wpcr3_button_1 {
                @include button-style();
                margin-top: 20px;
                &.wpcr3_cancel_btn {
                    color: $green;
                    background: mix($green, transparent, 10);
                    &:hover, &:focus {
                        background: mix($green, transparent, 30);
                    }
                }
            }
        }

        .wpcr3_review {
            position: relative;
            padding: 10px 40px;
            margin: 20px 0;
            &:after {
                position: absolute;
                content: "";
                height: 100%;
                width: 6px;
                top: 0;
                left: 0;
                border-radius: 10px;
                background: $green;
            }
            .wpcr3_review_author {
                .wpcr3_caps {
                    font-weight: 600;
                    color: $green;
                }
            }
            div.wpcr3_review_title.wpcr3_caps {
                margin-top: 5px;
                font-size: 18px;
                line-height: 1.6;
                font-weight: 600;
                color: $green;
            }
            blockquote.wpcr3_content {
                padding: 0;
                margin: 0;
                margin-top: 10px;
                background: transparent;
                &:after {
                    content: none;
                }
            }
        }
    }
}