#homepage {
    .section-1{
        min-height: calc(100vh - #{$navbar-height});
        padding: 80px 0;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        text-align: center;
        color: $white;
        overflow-wrap: break-word;
        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: mix($black, transparent, 30);
        }
        .container {
            position: relative;
            z-index: 2;
            .title {
                font-size: 50px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
            .subtitle {
                font-weight: bold;
            }
            .btn {
                margin-top: 20px;
                padding: 5px 50px;
                font-size: 18px;
            }
        }
    }

    .section-2 {
        padding: 80px 0;
        .container {
            position: relative;
            display: flex;
            align-items: center;
            .data {
                padding-right: 40px;
                .title {
                    font-size: 20px;
                    font-weight: bold;
                    color: $green;
                }
                .content {
                    padding: 30px 0;
                }
                .btn {
                    padding: 10px 50px;
                    letter-spacing: 1px;
                }
            }
            .photo {
                height: 250px;
                width: 400px;
                border-radius: 10px;
                flex-shrink: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            @include media-breakpoint-down(md){
                .photo {
                    width: 300px;
                }
            }
            @include media-breakpoint-down(sm){
                display: block;
                padding: 0 40px;
                .photo {
                    width: 100%;
                    margin: auto;
                    margin-top: 80px;
                }
            }
            @include media-breakpoint-down(xs){
                padding: 0px 15px;
            }
        }
    }

    .section-3 {
        padding: 120px 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            background: mix($black, transparent, 30);
        }
        .container {
            position: relative;
            z-index: 2;
            font-size: 30px;
            font-weight: bold;
            font-style: italic;
            text-align: center;
            color: $white;
        }
    }

    .section-4 {
        padding: 40px 0;
        .container {
            text-align: center;
            & > .title {
                padding-bottom: 40px;
                font-size: 20px;
                font-weight: bold;
                color: $green;
            }
            .row {
                padding: 0;
                justify-content: space-between;
                .column {
                    padding: 20px 0;
                    .item {
                        overflow: hidden;
                        border-radius: 10px;
                        .photo {
                            height: 200px;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                        .title {
                            padding: 8px 20px;
                            font-size: 16px;
                            font-weight: bold;
                            letter-spacing: 1px;
                            color: $white;
                            background: $green;
                        }
                    }
                }
            }
        }
    }

}
